.idea

# ignored folders
temp/*

# ignored files
version.py

# ignored files with suffix
*.png
*.jpeg
*.jpg
*.gif
*.pth
*.zip

# Distribution / packaging
eggs/
.eggs/
*.egg-info/
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec
/basicsr
