addict
future
lmdb
numpy>=1.17
opencv-python
Pillow
pyyaml
requests
scikit-image
scipy
tb-nightly
#torch==1.8.0
#torchvision
torch==1.8.0+cu111
torchvision==0.9.0+cu111
torchaudio==0.8.0
tqdm
yapf
timm 
einops
h5py
