:root {
    --primary-bg-color: #1d262c;
    --secondary-bg-color: #213039;
    --tertiary-bg-color: #141e24;
    --outline-color: #545454;
    --highlight-color: greenyellow;
    --main-text-color: wheat;
    --gmaps-bg-color: white;
    --gmaps-outline-color: #666666;
    --gmaps-text-color: #2f2f2f;
}

* {
    font-family: Arial, sans-serif;
    user-select: none;
}

:focus-visible {
    outline: 1px solid white;
    outline-offset: 1px;
}

html, body {
    background-color: var(--primary-bg-color);
    
    height: 100%;

    display: flex;
    flex-direction: column;
}

#tabs {
    display: flex;
    gap: 8px;
}

    .tab {
        background-color: var(--tertiary-bg-color);
        color: var(--main-text-color);

        position: relative;
        top: 1px;
        
        border: 1px solid var(--outline-color);
        border-radius: 5px 5px 0 0;

        height: 41px;
        width: 150px;

        cursor: pointer;
        
        font-size: large;
        overflow: hidden;
    }

        .tab.selected {
            background-color: var(--secondary-bg-color);
            border-bottom: none;
            top: 1px;
        }

#main {
    height: 100%;
    width: 100%;

    display: flex;
    gap: 8px;
}

    #contentWindow {
        background-color: var(--secondary-bg-color);
        
        border: 1px solid var(--outline-color);
        border-radius: 0 5px 5px 5px;

        display: flex;
        align-items: center;
        justify-content: center;

        height: 100%;
        width: 100%;
    }

        #fileSelect {
            color: var(--main-text-color);
            
            height: 100%;
            width: 100%;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            font-size: x-large;
        }

            #fileSelect p {
                margin: 8px;
            }

            #fileDropZone {
                background-color: var(--primary-bg-color);
                
                border: 2px dashed var(--outline-color);
                border-radius: 10px;
                
                height: 75%;
                width: 90%;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

                #fileDropZone.active {
                    border-color: var(--highlight-color);
                }

                    #chooseFileButton {
                        color: var(--highlight-color);
                        background-color: var(--tertiary-bg-color);

                        border: 2px solid var(--highlight-color);
                        border-radius: 5px;

                        height: 40px;
                        margin: 8px 0 0 0;

                        font-size: large;
                        cursor: pointer;
                    }

                    #chooseFileButton:hover {
                        background-color: var(--secondary-bg-color);
                    }

                #filePathWindow {
                    background-color: var(--primary-bg-color);

                    border: 1px solid var(--outline-color);
                    border-radius: 5px;
                    
                    width: 90%;

                    display: flex;
                    flex-direction: column;
                }

                    #filePath {
                        background-color: var(--tertiary-bg-color);
                        color: var(--main-text-color);

                        border: 1px solid var(--outline-color);
                        border-radius: 2px;
                        outline: none;

                        margin: 0 8px 8px 8px;
                    }

        #mapDiv {
            height: 100%;
            width: 100%;

            display: none; /* Application opens to file select initially */
        }

            #mapDiv .searchBox {
                background-color: var(--gmaps-bg-color);
                color: var(--gmaps-text-color);
                
                border: solid var(--gmaps-bg-color);
                border-radius: 2px;

                width: 50%;
                margin: 8px;
                
                font-family: Roboto, Arial, sans-serif;
            }

            #mapDiv .searchBox::placeholder {
                color: var(--gmaps-outline-color);
            }

            #mapDiv .labelToggle {
                background-color: var(--gmaps-bg-color);
                color: var(--gmaps-outline-color);
                
                border: solid var(--gmaps-bg-color);
                border-radius: 2px;
                
                margin: 8px;
                
                font-family: Roboto, Arial, sans-serif;
                font-size: 16px;
                
                cursor: pointer;
            }

            #mapDiv .labelToggle:hover {
                color: var(--gmaps-text-color);
            }

            /* Changes background for grid lines and div before map load */
            .gm-style {
                background-color: var(--primary-bg-color) !important;
            }

            /* Removes the blue border seen when interacting with the map */
            .gm-style iframe + div {
                border: none !important;
            }
    
    #buttonPanel {
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;

        gap: 12px;
    }
        
        #enhanceButton {
            color: var(--main-text-color);
            background-color: rgb(100, 165, 10);

            border: 7px outset black;
            border-radius: 5px;

            min-height: 75px;
            min-width: 150px;

            cursor: pointer;
            
            font-size: x-large;
            font-weight: bold;
        }

        #enhanceButton:hover {
            background-color: rgb(100, 180, 10);
        }
        
        .radioButton {
            color: var(--main-text-color);
            background-color: var(--tertiary-bg-color);

            border: 15px outset black;
            border-radius: 50%;

            min-height: 125px;
            min-width: 125px;

            padding-left: 8px; /* Align text in center */

            cursor: pointer;

            font-size: xx-large;
            font-weight: bold;
        }
        
            .radioButton.selected {
                border: 15px inset orange;
            }
        
            .radioButton:hover {
                background-color: var(--secondary-bg-color);
            }
    
dialog {
    background-color: var(--secondary-bg-color);
    color: var(--highlight-color);

    border-radius: 10px;
    max-width: 60%;

    font-size: x-large;
    overflow-wrap: break-word;
}

    dialog::backdrop {
        background-color: var(--primary-bg-color);
        opacity: 0.85;
    }

    dialog button {
        color: var(--highlight-color);
        background-color: var(--tertiary-bg-color);

        border: 2px solid var(--highlight-color);
        border-radius: 5px;

        cursor: pointer;
        font-size: large;
    }

    dialog button:hover {
        background-color: var(--secondary-bg-color);
    }

    dialog input[type="text"] {
        background-color: var(--tertiary-bg-color);
        color: var(--main-text-color);

        border: 1px solid var(--outline-color);
        border-radius: 2px;
        outline: none;

        width: 100%;
        margin: 0 0 16px 0;

        display: inline-block;
    }

    dialog p {
        margin: 12px auto 12px auto;
    }

dialog.loading {
    cursor: wait;
}