html, body {
    font-family: Roboto, serif;

    background-color: #1d262c;
    
    height: 100%;

    display: flex;
    flex-direction: column;
}

#tabs {
    display: flex;
}

    .tab {
        background-color: #141e24;
        color: wheat;

        position: relative;
        top: 1px;
        
        border: 1px solid #545454;
        border-radius: 5px 5px 0 0;

        height: 40px;
        width: 150px;

        cursor: pointer;
        
        font-size: large;
        text-wrap: none;
    }

        .tab.selected {
            background-color: #213039;
            border-bottom: none;
        }

#main {
    height: 100%;
    width: 100%;

    display: flex;
    gap: 10px;
}

    #contentWindow {
        background-color:#213039;
        
        border: 1px solid #545454;
        border-radius: 0 5px 5px 5px;

        display: flex;
        align-items: center;
        justify-content: center;

        height: 100%;
        width: 100%;
    }

        #fileSelect {
            color: wheat;
            
            height: 100%;
            width: 100%;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            font-size: x-large;
        }

            #fileSelect p {
                margin: 10px;
            }

            #fileDropZone {
                background-color: #1d262c;
                
                border: 2px dashed #545454;
                border-radius: 10px;
                
                height: 75%;
                width: 90%;
                max-width: 1000px;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

                #fileDropZone.active {
                    border-color: greenyellow;
                }

                    #chooseFileButton {
                        color: greenyellow;
                        background-color: #1d262c;

                        border: 2px solid greenyellow;
                        border-radius: 5px;

                        height: 40px;

                        font-size: large;
                    }

                    #chooseFileButton:hover {
                        background-color: #213039;
                    }

                #filePathWindow {
                    background-color: #1d262c;

                    border: 1px solid #545454;
                    border-radius: 5px;
                    
                    width: 90%;
                    max-width: 1000px;

                    display: flex;
                    flex-direction: column;
                }

                    #filePath {
                        background-color: #1d262c;
                        color: wheat;

                        border: 1px solid #545454;

                        margin: 0 8px 8px 8px;
                        outline: none;
                    }

        #map {
            height: 100%;
            width: 100%;

            display: none; /* Application opens to file select initially */
        }

            #searchBox {
                background-color: #1d262c;
                color: white;

                margin: 8px;
                outline: none;
                position: absolute; /* Fixes big search box on page load */
                display: none; /* Application opens to file select initially */
            }

            /* Dark mode for all map controls */
            button.gm-control-active {
                background-color: #1d262c !important;
            }

            /* Fixes white line between zoom controls */
            .gmnoprint button + div {
                background-color: #666666 !important;

                width: 40px !important;
                right: 5px !important;
            }

            /* Changes background for grid lines and div before map load */
            .gm-style {
                background-color: #1d262c !important;
            }

            /* Removes the blue border seen when interacting with the map */
            .gm-style iframe + div {
                border: none !important;
            }
    
    #buttonPanel {
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;

        gap: 12px;
    }
        
        #enhanceButton {
            color: wheat;
            background-color: rgb(102, 165, 9);

            border-radius: 5px;
            border-width: 7px;

            min-height: 75px;
            min-width: 150px;

            cursor: pointer;
            
            font-size: x-large;
            font-weight: bold;
        }
        
        .radioButton {
            color: wheat;
            background-color: #141e24;

            border: 15px outset black;
            border-radius: 50%;

            min-height: 125px;
            min-width: 125px;

            padding-left: 8px;

            cursor: pointer;

            font-size: xx-large;
            font-weight: bold;
        }
        
            .radioButton.selected {
                border: 15px inset orange;
            }
        
            .radioButton:hover {
                background-color: #213039;
            }
    
dialog {
    background-color: #213039;
    color: greenyellow;

    border-radius: 10px;

    font-size: x-large;
    outline: none;
}

    dialog::backdrop {
        background-color: #1d262c;
        opacity: 0.75;
    }

    dialog button {
        color: greenyellow;
        background-color: #1d262c;

        border: 2px solid greenyellow;
        border-radius: 5px;

        cursor: pointer;
        font-size: large;
        outline: none;
    }
