html, body {
    height: calc(100% - 8px);
    width: 100%;
    
    background-color: #1d262c;

    display: flex;
}

#map {
    height: 99%;
    width: 98%;

    border: 2px solid greenyellow;
    border-radius: 5px;
}

    #searchBox {
        margin: 8px;
        position: absolute; /* Fixes search box being too big on page load */
    }

dialog {
    color: greenyellow;
    background-color: #213039;
    border-radius: 10px;

    font-size: x-large;
}

    dialog::backdrop {
        background-color: #1d262c;
        opacity: 0.75;
    }

    #okButton {
        color: greenyellow;
        background-color: #1d262c;
        border: 2px solid greenyellow;
        border-radius: 15%;

        font-size: large;

        cursor: pointer;
    }

#buttonGroup {
    padding: 8px;
    background-color: #1d262c;
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

    #enhanceButton {
        width: 150px;
        height: 75px;

        color: wheat;
        background-color: rgb(102, 165, 9);
        border-radius: 5px;
        cursor: pointer;

        font-size: x-large;
        font-weight: bold;
        border-width: 7px;
        flex-shrink: 0;
    }

    .radioButton {
        height: 125px;
        width: 125px;

        color: wheat;
        background-color: #141e24;
        cursor: pointer;

        border: 15px outset black;
        border-radius: 50%;
        font-size: xx-large;
        font-weight: bold;

        padding-left: 8px;
        flex-shrink: 0;
    }

        .radioButton:active {
            background-color: #213039;
        }
